<!DOCTYPE html>
<html lang="pt">

  {% include head.html %}

  <body data-spy="scroll" data-target="#nav-main">

    {% include header.html %}

    {% include title.html %}
    {% include teia.html %}
    {% include guia.html %}
    {% include trama.html %}  
    {% include linha.html %}
    {% include sobre-nos.html %}

    {% include footer.html %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZYWJ3FHXBG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{site.google-analytics}}');
</script>
  </body>

</html>
